{%- extends 'base.html' -%}

{%- block content -%}
	<div class="group section content">
		<div class="group section">
			<div class="col span4-4 separator">
			</div>
		</div>
		<div class="group section section-default">
			<div class="invite-status-text" style="text-align: center">
				<div class="invite-status-hdr" style="padding-bottom: 20px" align="center">
					<img src="/static/emots/emot-smile-yahoo.gif" width="30" />
					<h1 class="section-caption" id="thanks-h1">Invite accepted!</h1>
				</div>
				<p id="invite-status-p">
					You have successfully accepted the invite to the group chat "{{ name }}". You can now have group conversations with members in the group chat.
				</p>
				<p id="return-p">
					<a href="/groupchats">Return to Group Chats page</a>
				</p>
			</div>
		</div>
		<div class="group section">
			<div class="col span4-4 separator content-end spin180"></div>
		</div>
	</div>
{%- endblock -%}