{%- extends 'base.html' -%}

{%- block content -%}
	<div class="group section content">
		<div class="group section">
			<div class="col span4-4 separator">
			</div>
		</div>
		<div class="group section section-default">
			<div class="invite-status-text" style="text-align: center">
				<div class="invite-status-hdr" style="padding-bottom: 20px" align="center">
					<h1 class="section-caption" id="invite-status-h1">Could not accept/decline invite</h1>
				</div>
				<p id="invite-status-p" style="padding-left: 1.5em; padding-right: 1.5em">
					Your attempt to accept/decline a group chat invitation could not be processed. You have either already accepted/declined this invite, the invite has been revoked, or the group chat does not exist.
				</p>
				<p id="return-p">
					<a href="/groupchats">Return to Group Chats page</a>
				</p>
			</div>
		</div>
		<div class="group section">
			<div class="col span4-4 separator content-end spin180"></div>
		</div>
	</div>
{%- endblock -%}