{%- extends 'base.html' -%}

{%- block content -%}
	<div class="group section content">
		<div class="group section">
			<div class="col span4-4 separator">
			</div>
		</div>
		<div class="group section section-default">
			<div class="groupchat-info-text" style="text-align: center">
				<div class="groupchat-info" style="padding-bottom: 20px" align="center">
					<h2 class="section-caption" id="leave-success-h2">You have successfully left "{{ name }}"</h2>
				</div>
				<p>
					You have left the group chat "{{ name }}". This means that you won't be able to message the group's members or see who's online on the group chat. If you want to join back, then contact the owners or administrators for an invite.
				</p>
				<p>
					<a href="/groupchats">Return to Group Chats page</a>
				</p>
			</div>
		</div>
		<div class="group section">
			<div class="col span4-4 separator content-end spin180"></div>
		</div>
	</div>
{%- endblock -%}