{%- extends 'base.html' -%}

{%- block content -%}
	<div class="group section content">
		<div class="group section">
			<div class="col span4-4 separator">
			</div>
		</div>
		<div class="group section section-default">
			<div class="groupchat-content">
				{% if errors %}
					<div class="errors-warn">
						<div id="errors">
							{% if errors['groupchat'] %}
								{% if errors['groupchat'] == 'doesnt-exist' %}
									The member you tried to change the role of does not exist in the group chat.
								{% else %}
									{{ errors['groupchat'] }}
								{% endif %}
							{% elif errors['link'] %}
								{{ errors['link'] }}
							{% endif %}
						</div>
					</div>
				{% elif (target_member_email and new_role) or owner_transferred %}
					<div class="no-errors">
						{% if target_member_email and new_role %}
							{% if target_member_name != target_member_email %}{{ target_member_name }} <strong>({{ target_member_email }})</strong>{% else %}<strong>{{ target_member_email }}</strong>{% endif %}'s role has been changed to {{ _role_to_str(new_role) }}.
						{% elif owner_transferred %}
							<div class="no-errors">
								Ownership transferred!
							</div>
						{% endif %}
					</div>
				{% endif %}
				<div align="center" class="groupchat-text">
					<h1 id="groupchats-hdr">Members in {{ name }}</h1>
				</div>
				
				<div class="groupchat-members">
					<div class="groupchat-tbl tbl-item">
						<div class="tbl-content">
							{% for info in membership_list %}
								{% if ((membership['role'] == 1 or membership['role'] == 2) and (info['role'] == 4 and info['state'] == 1)) or not (info['role'] == 4 and info['state'] == 1) %}
									<div class="tbl-cont">
										<div class="group section">
											<div class="tbl-item">
												<p class="member-name">
													<strong>{% if info['name'] %}{{ info['name'] }}{% else %}{{ info['email'] }}{% endif %}</strong>
												</p>
												{% if info['name'] != info['email'] %}
													<p class="member-email-small">
														<small>{{ info['email'] }}</small>
													</p>
												{% endif %}
												<div class="role-cont">
													<p class="role-caption">
														<small>Role:</small>
													</p>
													{% if ((membership['role'] == 2 and info['role'] != 1) or membership['role'] == 1) and info['uuid'] != membership['uuid'] and not (info['role'] == 4 and info['state'] == 1) %}
														<form class="role-form" name="role-form" action="/groupchats/{{ chat_id }}/members" method="post">
															<input type="hidden" name="uuid" value="{{ info['uuid'] }}" />
															<select name="role">
																{% if membership['role'] == 1 %}<option value="1" {% if info['role'] == 1 %}selected{% endif %}>Owner</option>{% endif %}
																<option value="2" {% if info['role'] == 2 %}selected{% endif %}>Administrator</option>
																<option value="3" {% if info['role'] == 3 %}selected{% endif %}>Member</option>
															</select>
															<input type="submit" value="Change Role" />
														</form>
													{% else %}
														<small>{{ _role_to_str(info['role']) }}</small>
													{% endif %}
												</div>
												
												<div class="member-actions">
													<small>
														{% if not ((info['role'] == 4 and info['state'] == 1) or (membership['role'] == 4 and membership['state'] == 1)) %}
															In chat:&nbsp;<em>{% if info['in_chat'] %}Yes{% else %}No{% endif %}</em>
															{% if (membership['role'] == 1 or (membership['role'] == 2 and info['role'] != 1)) and info['uuid'] != membership['uuid'] %}
																&nbsp;| 
																<a href="/groupchats/{{ chat_id }}/remove/{{ info['uuid'] }}">Remove</a>
															{% endif %}
														{% endif %}
														{% if info['uuid'] == membership['uuid'] and not ((membership['role'] == 4 and membership['state'] == 1) or (membership['role'] == 1 and owner_memberships|length < 2)) %}
															 | 
															<a href="/groupchats/{{ chat_id }}/leave">Leave</a>
														{% endif %}
														{% if (membership['role'] == 1 or membership['role'] == 2) and (info['role'] == 4 and info['state'] == 1) %}
															<a href="/groupchats/{{ chat_id }}/revoke/{{ info['uuid'] }}">Revoke Invite</a>
														{% endif %}
													</small>
												</div>
											</div>
										</div>
									</div>
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="group section">
			<div class="col span4-4 separator content-end spin180"></div>
		</div>
	</div>
	
	<style>
		.tbl-cont .section:before {
			display: none;
		}
		
		.tbl-cont .section:after {
			display: none;
		}
		
		.tbl-content {
			display: table-cell;
			vertical-align: middle;
		}
		
		.groupchat-tbl {
			width: 60%;
			height: 100%;
			margin-left: 1.6%;
			display: table;
		}
		
		.groupchat-name {
			position: relative;
			word-wrap: break-word;
			width: 600px;
			top: -4px;
			padding-left: 4px;
		}
		
		.tbl-sep {
			position: relative;
			left: -4px;
			height: 2px;
			width: 80%;
			background-color: #000000;
		}
		
		.tbl-cont {
			display: inline-block;
			width: 800px;
			padding-top: 15px;
		}
		
		.tbl-item {
			float: left;
		}
		
		.groupchat-name {
			width: 80%;
		}
		
		#role-p {
			position: relative;
			display: inline-block;
		}
		
		.role-form {
			display: inline;
		}
		
		.role-cont {
			position: relative;
			display: inline-block;
		}
		
		.role-caption {
			display: inline-block;
		}
	</style>
{%- endblock -%}
