{%- extends 'base.html' -%}

{%- block head_end -%}
	<link rel="stylesheet" href="/static/style/account.css"/>
	<link rel="stylesheet" href="/static/style/login.css"/>
{%- endblock -%}

{%- block content -%}
	<div class="group section content">
		<div class="group section">
			<div class="col span4-4 separator">
			</div>
		</div>
		<div class="group section account">
			<div class="col span1-5 nav">
				<div class="account-nav-links">
					<h2>Options</h2>
					<ul>
						<li><a href="/account">Account Info</a></li>
						<br/>
						<li><a href="/account/change-password">Change Password</a></li>
						<br/>
						<li>PUID</li>
					</ul>
				</div>
			</div>
			<div class="col span4-5 account-content section-default">
				<div class="account-info">
					<h1>PUID</h1>
					<p>
						A PUID is a value representing your internal Escargot account ID. This is only ever really useful if you're using the MSN frontend, especially when backing up local user content stored by WLM 8.1 and above from your account, like Winks, emoticons, and other related content.
						<br/><br/>
						Your PUID has been generated below.
					</p>
					<div id="puid-result">
						<strong>PUID:</strong>
						<div id="puid-value">{{ puid }}</div>
					</div>
				</div>
			</div>
		</div>
		<div class="group section">
			<div class="col span4-4 separator content-end spin180"></div>
		</div>
	</div>
	
	<style>
		#puid-result {
			margin-top: 5em;
			text-align: center;
			font-size: 32px;
		}
		
		#puid-value {
			padding-top: 0.5em;
			font-family: monospace;
		}
	</style>
{%- endblock -%}