<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		{%- block meta -%}{%- endblock -%}
		<title>
			{% if title %}{{ title }} | {% endif %}Escargot Chat
		</title>
		<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png"/>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans"/>
		<link rel="stylesheet" href="/static/style/base.css"/>
		{%- block head_end -%}{%- endblock -%}
	</head>
	<body{% if msntoday %} onclick="NavPage();"{% if msn %} onload="ShowMSNToday(0);"{% endif %}{% endif %}>
		<div class="content-container">
			<div class="content-header">
				<div class="col">
					<span class="logo" style="padding-right: 20px">
						<a href="/">
							<img src="/static/logo.png" height="90px">
						</a>
					</span>
				</div>
				
				<div class="header-menu" align="right">
					<strong>
						<a href="/stats">{% if stats %}<span style="font-weight: normal">{{ stats['logged_in'] }} online</span>{% else %}Stats{% endif %}</a>&nbsp;
						<a id="hdr-news" href="/news">News</a>&nbsp;
						<a href="/frontends">Frontends</a>&nbsp;
						<a href="/status">Status</a>&nbsp;
						<a id="hdr-dls" href="/downloads">Downloads</a>&nbsp;
						{%- if not msntoday -%}
						&nbsp;
						{%- if logged_in -%}<a href="/groupchats" style="font-weight: normal">{%- else -%}<a href="/groupchats">{%- endif -%}{%- if logged_in -%}Your&nbsp;{%- endif -%}Group Chats{%- if logged_in -%}</small>{%- endif -%}{%- if logged_in and pending_groupchats -%}&nbsp;({{ pending_groupchats|length }}){%- endif -%}</a>&nbsp;
						{%- if logged_in -%}&nbsp;<a href="/account" style="font-weight: normal">Account</a>&nbsp;{%- endif -%}
						{%- endif -%}
						&nbsp;<a href="https://gitlab.com/escargot-chat/server/-/wikis/home" target="_blank">Wiki</a>
						{%- if not msntoday -%}
						&nbsp;
						<a href="/faq">FAQ</a>&nbsp;
						<a href="https://discord.gg/gK2ewrt" target="_blank">Discord</a>&nbsp;
						<a href="https://forum.nina.bz/forum-12.html" target="_blank">NINA Board</a>&nbsp;&nbsp;
						{%- if not logged_in -%}{%- if not on_login -%}<a href="/forgot" style="font-weight: normal">Forgot Password?</a>&nbsp;&nbsp;{%- endif -%}
						<a href="/login"><img src="/static/login.gif" style="vertical-align: top"></a>{%- else -%}<a href="/logout"><img src="/static/logout.gif" style="vertical-align: top"></a>{%- endif -%}
						{%- endif -%}
					</strong>
				</div>
			</div>
			
			{% block content %}{% endblock %}
			
			<div class="footer">
				<p class="footer-menu">
					<a id="ftr-home" href="/">Home</a>
					{%- if not msntoday -%}
					{%- if not logged_in -%}
					&nbsp;&bull;
					<a id="ftr-signup" href="/register">Sign Up</a>
					{%- if not on_login -%}&nbsp;&bull;
					<a href="/forgot">Forgot Password?</a>{%- endif -%}
					{%- endif -%}
					{%- endif -%}
					&nbsp;&bull;
					<a href="/faq">FAQ</a>
					&bull;
					<a href="/thanks">Special Thanks</a>
					&bull;
					<a href="/connecting">Connecting</a>
					&bull;
					<a href="https://gitlab.com/escargot-chat" target="_blank">GitLab</a>
					&bull;
					<a href="https://gitlab.com/escargot-chat/server/-/wikis/home" target="_blank">Wiki</a>
					&bull;
					<a href="/stats">{% if stats %}{{ stats['logged_in'] }} online{% else %}Stats{% endif %}</a>
				</p>
				<div id="ftr-txt">
					<p>
						Original design by <a href="http://spriteclad.com/main.html" id="Spriteclad-link" target="_blank">Spriteclad</a>.
						Website originally coded by Maigol.
						Redesign and some graphics by <a href="https://gitlab.com/walkingphasers" id="phas3r-link" target="_blank">walkingphasers</a>.
						Logo design by yuka.
					</p>
				</div>
			</div>
		</div>
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119140043-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-119140043-1');
		</script>
	</body>
</html>