{%- extends 'base.html' -%}

{%- from '_funcs.html' import download_url -%}

{%- block head_end -%}
	<link rel="stylesheet" href="/static/style/connecting.css"/>
{%- endblock -%}

{%- block content -%}
	<div class="group section content">
		<div class="group section">
			<div class="col span4-4 separator">
			</div>
		</div>
		<div class="group section section-default">
			<div class="connecting-content">
				<div class="connecting-text">
					<div class="header-connecting">
						<img src="/static/emots/emot-party-still.gif" width="30"/>
						<h1 class="section-caption" id="connecting-hdr">Connecting</h1>
						
						<p id="connecting-p">
							<h3>On this page are several guides for connecting to Escargot through our various frontends.</h3>
						</p>
					</div>
				</div>
				
				<div class="connecting-section" id="msn">
					<div class="connecting-section-hdr">
						<img src="/static/wlm-logo.png" width="160" />
						<h1 class="connecting-section-caption">MSN Messenger/Windows Live Messenger</h1>
					</div>
					<div class="connecting-section-text">
						<div id="msn-pre4-7">
							<li>
								<h3>pre-4.7.2005</h3>
							</li>
							<p>Patching these versions of MSN ultimately involves the registry, but there are two ways to acheive this.</p>
							<br/><br/>
							<p>The first, and easy way to patch MSN Messenger versions before 4.7.2005 is to download a registry file we made specifically to get these versions to connect to Escargot, which is available <a href="{{ download_url('SetEscargotServer.reg', mirrored) }}">here</a>.</p>
							<p>After downloading the file, right-click on it in the directory it was downloaded to and select the &quot;Merge&quot; option.</p>
							<br/>
							<img src="/static/msn-step1-mergereg.jpg" />
							<br/>
							<p>You should then get a dialog box asking if you want to merge the changes in the file to the registry, as shown below:</p>
							<br/>
							<img src="/static/msn-step2-confirmmerge.jpg" />
							<br/>
							<p>Click on 'Yes', and you should get the following message.</p>
							<br/>
							<img src="/static/msn-step3-mergedone.jpg" />
							<br/><br/>
							<p>The second, more advanced method is to go into the registry itself and add the key needed to connect to Escargot from MSN Messenger. Note that you must be aware that if you're not experienced enough with modifying the Windows registry, you can potentially corrupt your computer's configuration and potentially render it at an unusable state. However, if you're feeling courageous or can't use our supplied registry file, then proceed with caution.</p>
							<br/>
							<p>First, you must open Regedit. This is usually done by pressing Win + R, and typing <code>regedit</code> in the dialog box that appears.</p>
							<br/>
							<img src="/static/msn-step1-alt-run.jpg" />
							<br/>
							<p>In Regedit, navigate to <code>HKEY_CURRENT_USER\Software\Microsoft\MessengerService</code> (foreword for people using 5.0 - 6.2, navigate to <code>HKEY_CURRENT_USER\Software\Microsoft\MSNMessenger</code> instead). In the right-hand pane, check for a registry value named <code>Server</code>. If it exists, edit it so that it contains <code>m1.escargot.log1p.xyz</code>. If it doesn't, create a registry value with the exact name and value mentioned before. Close Regedit after you're done with this process.</p>
							<br/><br/>
							<p>After you're done changing the configuration, make sure MSN Messenger isn't running in the background. If it is, then close it. Launch it, and then proceed with login.</p>
						</div>
						
						<div id="msn-4-5-patched">
							<li>
								<h3>5.0 and above (Pre-patched)</h3>
							</li>
							<p>
								<a href="/downloads/msn-messenger">Download</a> the version of MSN Messenger you seek. When you're done, if you're installing MSN Messenger 5.0 - 6.2, follow the registry instructions mentioned in the <a href="#msn-pre4-7">pre-4.7.2005</a> section. Other than that, you're good to go!
							</p>
						</div>
						
						<div id="msn-4-5-unpatched">
							<li>
								<h3>4.7.2005 - 3001, 5.0, and above (Unpatched)</h3>
							</li>
							<p>
								<em>Our new patching method for these clients is a bit advanced, so we advise people who don't know what they're doing to stay away from these instructions and possibly refer to someone that can patch them.</em>
								<br/><br/>
								To patch these clients, you will need the <a href="/downloads/switcher">Escargot Switcher</a> component's files. You will also need a program that can manipulate PE (.exe) import tables (that's what loads all the libraries programs rely on). We recommend <a href="http://www.cgsoftlabs.ro/studpe.html" target="_blank">Stud_PE</a> for this.
								<br/><br/>
								First, extract the Switcher DLL and base configuration INI from the downloaded ZIP, change the <code>type</code> value in the configuration to <code>msn</code>, and copy both files to MSN Messenger's program directory, where <code>msnmsgr.exe</code> is located.
								<br/><br/>
								Next, open the <code>msnmsgr.exe</code> file in your PE import table editor. Add an import to the Switcher DLL in the executable with the function <code>ImportMe</code> (this is the only one that's been exported from the DLL) and save your changes.
								<br/><br/>
								If you're patching WLM 2009, then you should also copy the Switcher files to the directory where <code>wlcomm.exe</code> is located, and edit it the same way you patched <code>msnmsgr.exe</code>. If you're dealing with 4.7 - 6.2, then follow the same registry instructions in the <a href="#msn-pre4-7">pre-4.7.2005</a> section. You should be able to use MSN Messenger after completing all the steps.
							</p>
						</div>
					</div>
				</div>
				
				<div class="connecting-section" id="yahoo-messenger">
					<div class="connecting-section-hdr">
						<img src="/static/yahoo-messenger-logo.png" width="160" />
						<h1 class="connecting-section-caption">Yahoo! Messenger</h1>
					</div>
					<div class="connecting-section-text">
						<div id="ymsg-5-patched">
							<li>
								<h3>5.0 and 5.5 (Pre-patched)</h3>
							</li>
							<p>
								 <a href="/downloads/yahoo-messenger">Download</a> a version of Yahoo Messenger of out the many pre-patched versions we offer and install. Simple as that.
							</p>
						</div>
						<div id="ymsg-5-unpatched">
							<li>
								<h3>5.0 and 5.5 (Unpatched)</h3>
							</li>
							<p>
								<em>Our new patching method for these clients is a bit advanced, so we advise people who don't know what they're doing to stay away from these instructions and possibly refer to someone that can to patch them.</em>
								<br/><br/>
								Assuming you've already installed an unpatched version of Yahoo! Messenger, open Regedit, navigate to <code>HKEY_CURRENT_USER\Software\Yahoo\Pager</code>, and change the <code>socket server</code> and <code>Host Name</code> (if available) values to <code>m1.escargot.log1p.xyz</code>. In the same subkey, navigate to <code>FileTransfer</code> and also change the <code>Server Name</code> value to the same URL.
								<br/><br/>
								To actually patch Yahoo! Messenger 5.0 and 5.5, you'll need the <a href="/downloads/switcher">Escargot Switcher</a> component's files and a program that can manipulate PE import tables. Extract the Switcher DLL and base configuration INI from the downloaded ZIP, change the <code>type</code> value in the configuration to <code>yahoo</code>, and copy the files to Yahoo! Messenger's installation directory, where <code>YPager.exe</code> is located. Open the file in your PE import table editor, import the Switcher DLL with the function <code>ImportMe</code> and save your changes.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="group section">
			<div class="col span4-4 separator content-end spin180"></div>
		</div>
	</div>
{%- endblock -%}