{%- extends 'base.html' -%}

{%- from '_funcs.html' import icon_url -%}

{%- block content -%}
	<div class="group section content">
		<div class="group section">
			<div class="col span4-4 separator">
			</div>
		</div>
		<div class="group section content-section section-default">
			<div class="frontends-content">
				<div class="frontends-text" style="display: inline-block; text-align: left; padding-left: 1.5em; margin-top: 4%; width: 50%">
					<h1 id="frontends-hdr">Frontends</h1>
					<p id="frontends-p">
						Escargot revolves around frontends and are what power the server. Frontends are simply features or full-fledged protocols that utilize the server's backend to allow them to take advantage of the interlinked presence and messaging features we offer.
						<br/><br/>
						Here, we have a list of currently supported frontends and frontends that are planned for implementation, plus a compatibility list of supported clients for each frontend.
						<br/><br/>
						If you want to improve or write a new frontend for Escargot, visit the server's <a href="https://gitlab.com/escargot-chat/server" target="_blank">GitLab</a> and read our contributing guide to learn how to contribute to the project.
					</p>
				</div>
				<div class="frontends-img" style="margin-top: 6%; float: right; padding-right: 1em">
					<img src="/static/frontends.png" width="250"/>
				</div>
			</div>
		</div>
		<div class="group section">
			<div class="col span4-4 separator content-end spin180"></div>
		</div>
	</div>
	
	<div class="group section content">
		<div class="group section">
			<div class="col span4-4 separator">
			</div>
		</div>
		<div class="group section content-section section-default">
			<div class="frontends-content">
				<h1 align="center">Frontend List</h1>
				
				<div class="frontend-col">
					<img src="/static/wlm-logo.png" style="vertical-align: middle" width="100"/>
					<p style="display: inline-block">MSN Messenger (MSNP)</p>
					<p>
						<em>
							Status: Almost complete
							<br/>
							Compatibility:
						</em>
					</p>
					
					<div class="status-col status">
						<div class="status-content">
							<div class="status-cont">
								<!--Line 1-->
								<div class="group section">
									<div class="status-col span1-3">
										<img src="{{ icon_url('msn/1-3-sm.png') }}" />
									</div>
									<div class="status-col span2-3">
										MSN 1
									</div>
									<div class="status-col span3-3 supported">Supported<sup>[1][6]</sup></div>
								</div>
								
								<!--Line 2-->
								<div class="group section">
									<div class="status-col span1-3">
										<img src="{{ icon_url('msn/1-3-sm.png') }}" />
									</div>
									<div class="status-col span2-3">
										MSN 2
									</div>
									<div class="status-col span3-3 supported">Supported<sup>[1]</sup></div>
								</div>
								
								<!--Line 3-->
								<div class="group section">
									<div class="status-col span1-3">
										<img src="{{ icon_url('msn/1-3-sm.png') }}" />
									</div>
									<div class="status-col span2-3">
										MSN 3
									</div>
									<div class="status-col span3-3 supported">Supported<sup>[1]</sup></div>
								</div>
								
								<!--Line 4-->
								<div class="group section">
									<div class="status-col span1-3">
										<img src="{{ icon_url('msn/4-sm.png') }}" />
									</div>
									<div class="status-col span2-3">
										MSN 4
									</div>
									<div class="status-col span3-3 supported">Supported<sup>[1]</sup></div>
								</div>
								
								<!--Line 5-->
								<div class="group section">
									<div class="status-col span1-3">
										<img src="{{ icon_url('msn/5-7-sm.png') }}" />
									</div>
									<div class="status-col span2-3">
										MSN 5
									</div>
									<div class="status-col span3-3 supported">Supported<sup>[2]</sup></div>
								</div>
								
								<!--Line 6-->
								<div class="group section">
									<div class="status-col span1-3">
										<img src="{{ icon_url('msn/5-7-sm.png') }}" />
									</div>
									<div class="status-col span2-3">
										MSN 6
									</div>
									<div class="status-col span3-3 supported">Supported<sup>[2]</sup></div>
								</div>
								
								<!--Line 7-->
								<div class="group section">
									<div class="status-col span1-3">
										<img src="{{ icon_url('msn/5-7-sm.png') }}" />
									</div>
									<div class="status-col span2-3">
										MSN 7
									</div>
									<div class="status-col span3-3 supported">Supported<sup>[2][3]</sup></div>
								</div>
								
								<!--Line 8-->
								<div class="group section">
									<div class="status-col span1-3">
										<img src="{{ icon_url('msn/8-sm.png') }}" />
									</div>
									<div class="status-col span2-3">
										WLM 8
									</div>
									<div class="status-col span3-3 supported">Supported<sup>[2][4][5]</sup></div>
								</div>
								
								<!--Line 9-->
								<div class="group section">
									<div class="status-col span1-3">
										<img src="{{ icon_url('msn/14-16-sm.png') }}">
									</div>
									<div class="status-col span2-3">
										WLM '09
									</div>
									<div class="status-col span3-3 supported">Supported<sup>[2][5]</sup></div>
								</div>
								
								<!--Line 10-->
								<div class="group section">
									<div class="status-col span1-3">
										<img src="{{ icon_url('msn/14-16-sm.png') }}">
									</div>
									<div class="status-col span2-3">
										WLM '11
									</div>
									<div class="status-col span3-3 not-supported">Not yet<sup></sup></div>
								</div>
								
								<!--Line 11-->
								<div class="group section">
									<div class="status-col span1-3">
										<img src="{{ icon_url('msn/14-16-sm.png') }}">
									</div>
									<div class="status-col span2-3">
										WLM '12
									</div>
									<div class="status-col span3-3 not-supported">Not yet<sup></sup></div>
								</div>
							</div>
							
							<br>
							
							<p id="msn-status-msg1">
								1. Requires "Old MSN support" option.<br>
								<strong>Beware: MSN 1/2/3/4 do not have secure login at the moment.</strong> It's recommended that you only use "Old MSN support" with an account that has a throwaway password.
							</p>
							<p id="msn-status-msg2">
								2. MSN 5/6/7/8 and WLM '09 work on Windows XP and Vista, but have issues logging in due to known incompatibilities with the HTTPS protocols between the server and the affected OSes and us being unable to tweak our setup to effectively support those systems. Refer to <a href="https://forum.nina.bz/thread-13.html" target="_blank">this guide</a> for a fix.
							</p>
							<p id="msn-status-msg3">
								3. MSN 7 supports receiving offline messages (OIMs), but can't send them to others.
							</p>
							<p id="msn-status-msg4">
								4. Only 8.1.0178 and 8.5 are known to work; others might not.
							</p>
							<p id="msn-status-msg5">
								5. While WLM 8 and '09 work on Windows XP, it is ill-advised to use them on that platform in a vanilla setting as they relies on HTTPS for several core functions outside of login (a few major ones being group/contact management, roaming profiles, and group chats in WLM '09's case) and without applying a reliable fix to your system, changes you make while logged in might not sync over.
							</p>
							<p id="msn-status-msg6">
								6. MSN 1 only supports login on <code>@hotmail.com</code> accounts by design.
							</p>
						</div>
					</div>
				</div>
				
				<br>
				
				<div class="frontend-col">
					<img src="/static/yahoo-messenger-logo.png" style="vertical-align: middle" width="100"/>
					<p style="display: inline-block">Yahoo! Pager/Messenger (YPNS/YMSG)</p>
					<p>
						<em>
							Status: Incomplete
							<br/>
							Compatibility:
						</em>
					</p>
					
					<div class="status-col status">
						<div class="status-content">
							<div class="status-cont">
								<!--Line 1-->
								<div class="group section">
									<div class="status-col span1-3">
										<img src="{{ icon_url('yahoo/pg-3-sm.png') }}" />
									</div>
									<div class="status-col span2-3">
										Pager
									</div>
									<div class="status-col span3-3 not-supported">Not yet</div>
								</div>
								
								<!--Line 2-->
								<div class="group section">
									<div class="status-col span1-3">
										<img src="{{ icon_url('yahoo/pg-3-sm.png') }}" />
									</div>
									<div class="status-col span2-3">
										Y!M 2
									</div>
									<div class="status-col span3-3 not-supported">Not yet</div>
								</div>
								
								<!--Line 3-->
								<div class="group section">
									<div class="status-col span1-3">
										<img src="{{ icon_url('yahoo/pg-3-sm.png') }}" />
									</div>
									<div class="status-col span2-3">
										Y!M 3
									</div>
									<div class="status-col span3-3 not-supported">Not yet</div>
								</div>
								
								<!--Line 4-->
								<div class="group section">
									<div class="status-col span1-3">
										<img src="{{ icon_url('yahoo/4-5-sm.png') }}" />
									</div>
									<div class="status-col span2-3">
										Y!M 4
									</div>
									<div class="status-col span3-3 not-supported">Not yet</div>
								</div>
								
								<!--Line 5-->
								<div class="group section">
									<div class="status-col span1-3">
										<img src="{{ icon_url('yahoo/4-5-sm.png') }}" />
									</div>
									<div class="status-col span2-3">
										Y!M 5
									</div>
									<div class="status-col span3-3 wip">W.I.P.<sup>[1][2]</sup></div>
								</div>
								
								<!--Line 6-->
								<div class="group section">
									<div class="status-col span1-3">
										<img src="{{ icon_url('yahoo/6-11-sm.png') }}" />
									</div>
									<div class="status-col span2-3">
										Y!M 6
									</div>
									<div class="status-col span3-3 not-supported">Not yet</div>
								</div>
								
								<!--Line 7-->
								<div class="group section">
									<div class="status-col span1-3">
										<img src="{{ icon_url('yahoo/6-11-sm.png') }}">
									</div>
									<div class="status-col span2-3">
										Y!M 7
									</div>
									<div class="status-col span3-3 not-supported">Not yet<sup></sup></div>
								</div>
								
								<!--Line 8-->
								<div class="group section">
									<div class="status-col span1-3">
										<img src="{{ icon_url('yahoo/6-11-sm.png') }}">
									</div>
									<div class="status-col span2-3">
										Y!M 8
									</div>
									<div class="status-col span3-3 not-supported">Not yet<sup></sup></div>
								</div>
								<!--Line 9-->
								<div class="group section">
									<div class="status-col span1-3">
										<img src="{{ icon_url('yahoo/6-11-sm.png') }}">
									</div>
									<div class="status-col span2-3">
										Y!M 9
									</div>
									<div class="status-col span3-3 not-supported">Not yet<sup></sup></div>
								</div>
								
								<!--Line 10-->
								<div class="group section">
									<div class="status-col span1-3">
										<img src="{{ icon_url('yahoo/6-11-sm.png') }}">
									</div>
									<div class="status-col span2-3">
										Y!M 10
									</div>
									<div class="status-col span3-3 not-supported">Not yet<sup></sup></div>
								</div>
								
								<!--Line 11-->
								<div class="group section">
									<div class="status-col span1-3">
										<img src="{{ icon_url('yahoo/6-11-sm.png') }}">
									</div>
									<div class="status-col span2-3">
										Y!M 11
									</div>
									<div class="status-col span3-3 not-supported">Not yet<sup></sup></div>
								</div>
							</div>
							
							<br>
							
							<p id="yahoo-status-msg1">
								1. Requires "Yahoo! Messenger support" option.<br>
								<strong>Beware: Yahoo! Messenger 5 does not have secure login</strong> and it's recommended that you only use "Yahoo! Messenger support" with an account that has a throwaway password.
							</p>
							<p id="yahoo-status-msg2">
								2. 5.0.0.1066, 5.5.0.1237, 5.5.0.1244, and 5.5.0.1246 have been tested to work. 5.6 support hasn't been implemented.
							</p>
						</div>
					</div>
				</div>
				
				<br>
				
				<div class="frontend-col">
					<img src="/static/aim.png" style="vertical-align: middle" width="100"/>
					<p style="display: inline-block">AIM (OSCAR)</p>
					<p>
						<em>
							Coming soon...
						</em>
					</p>
				</div>
				
				<br>
				
				<div class="frontend-col">
					<em>More frontends to come soon...</em>
				</div>
			</div>
		</div>
		<div class="group section">
			<div class="col span4-4 separator content-end spin180"></div>
		</div>
	</div>
	
	<style>
		.status-cont {
			display: inline-block;
			width: 260px;
			padding-left: 5px;
			margin-bottom: 15px;
			background-color: #fffed8;
		}
		
		.status-cont .section:before {
			display: none;
		}

		.status-cont .section:after {
			display: none;
		}
		
		.status-content {
			display: table-cell;
			vertical-align: middle;
		}
		
		.status p {
			font-size: 8px;
			margin: 1%;
		}
		
		.supported {
			display: inline;
			background-color: #25ba84;
		}

		.wip {
			display: inline;
			background-color: #f39c12;
		}

		.not-supported {
			height: 100%;
			background-color: #e74c3c;
		}
		
		.status {
			width: 30%;
			height: 100%;
			margin-left: 1.6%;
			display: table;
		}
		
		.status-col {
			float: left;
		}
		
		.frontend-col {
			display: inline-block;
			vertical-align: top;
			margin-left: 1em;
			padding-bottom: 1em;
		}
	</style>
{%- endblock -%}
