{%- extends 'base.html' -%}

{%- block content -%}
	<div class="group section content">
		<div class="group section">
			<div class="col span4-4 separator">
			</div>
		</div>
		<div class="group section section-default">
			<div class="get-started-text basics-text">
				<img src="/static/emots/emot-nerd.gif" width="30"/>
				<h1 class="section-caption" id="get-started-hdr">Getting Started - The Basics</h1>
				
				<p id="get-started-p">
					To get started in the chat-o-sphere of Escargot Land, you have to follow a few steps to get yourself in the right direction. This doesn't require anything strenuous, and should take you a few minutes at least.
				</p>
			</div>
			<ul class="getstarted-cols">
				<h1>1.</h1>
				<li>
					<img src="/static/signup-step1.png"/>
					<p class="getstarted-col-text" id="getstarted-col1-signup">
						<a href="/register">Sign up</a>
					</p>
				</li>
				<p id="getstarted-col1-signup-desc">
					<a href="/register">Sign up</a> for an Escargot account. It's easy, only requires your e-mail address and a username, and takes less than a minute. With this account, you are entitled to access on all of Escargot's frontends, excluding ones that you have to explicitly grant access for, mainly due to them using old and insecure login methods. You can now use this account on any Escargot-supported frontends or on the site if you have to configure anything on it. But to start using it to chat, you'll have to follow the next step below.
				</p>
				<h1>2.</h1>
				<li>
					<img src="/static/escargot-smile.png"/>
					<p class="getstarted-col-text" id="getstarted-col2-download">
						Download an Escargot-ready client or manually configure one
					</p>
				</li>
				<p id="getstarted-col2-download-desc">
					See our <a href="/connecting">connection guides</a> for steps on how to connect to Escargot through our supported frontends on various platforms.
					<br/><br/>
					Our <a href="/downloads">downloads</a> page also offers select clients. The supplied clients on our site come in two flavours: pre-patched and/or unpatched. Pre-patched clients contain the software plus the <a href="/downloads/switcher">Escargot Switcher</a> component and a modified version of the client's binaries that loads this component. Escargot Switcher is a specially-made component (that for the moment only works on Windows XP and above) that hooks certain functions of some of our targeted clients that can't be configured normally so that they can connect to any Escargot server &mdash; ours included. By default, the Switcher component reroutes connections to our servers.
					<br/><br/>
					Unpatched clients are the untouched versions of the clients that require manual patching with the Switcher component or in the application itself for them to connect to our service. If we don't offer a connection guide for a version of a client that might work with Escargot, you can attempt to configure it if it allows you to change the servers it connects to or if you know what you're doing. 
					<br/><br/>
					We recommend that users go for the pre-patched options we offer so that they can get connected to our service with no hassle. However, we are planning to offer our own solutions for accessing our service soon for people who just want to get connected without any setup.
				</p>
				<h1>3.</h1>
				<li>
					<img src="/static/yourein-step3.png"/>
					<p class="getstarted-col-text" id="getstarted-col3-login">
						Enjoy your stay!
					</p>
				</li>
				<p id="getstarted-col3-login">
					Login and you're all set for your stay at Escargot Land! Reconnect with old friends and even make new ones, if you want to.
				</p>
			</ul>
		</div>
		<div class="group section">
			<div class="col span4-4 separator content-end spin180"></div>
		</div>
	</div>
	
	<div class="group section content">
		<div class="group section">
			<div class="col span4-4 separator">
			</div>
		</div>
		<div class="group section section-default">
			<div class="get-started-text whatsnext-text">
				<img src="/static/emots/emot-confused-yahoo.gif" width="30"/>
				<h1 class="section-caption" id="get-started-hdr">What's Next?</h1>
				
				<p id="get-started-p">
					Well, there are a few options left for you to enhance your Escargot chat experience.
				</p>
			</div>
			<ul class="getstarted-cols">
				<li>
					<img src="/static/meetnewpeople.png"/>
					<p class="getstarted-col-text" id="whatsnext-findnewpeople">
						Meet new people.
					</p>
				</li>
				<p id="whatsnext-findnewpeople-desc">
					You can meet new people that use Escargot right now. We have our own <a href="https://discord.gg/gK2ewrt" target="_blank">Discord server</a> where people can talk about anything Escargot and even get technical support from our team members and users, or just have a casual chat with other members. We also have our own <a href="https://forum.nina.bz/forum-12.html" target="_blank">discussion board</a> (sort of) over on NINA's forum. NINA is another project aiming to give chat protocols and internet services new life, and we're glad it was kind enough to give us our own board for users to discuss amongst themselves.
				</p>
				
				<li>
					<img src="/static/whatsnext-news.png"/>
					<p class="getstarted-col-text whatsnext-news">
						Read up on the latest Escargot news and updates.
					</p>
				</li>
				<p id="whatsnext-news-desc">
					If you want to catch up on news for Escargot as a project and updates on frontend support, then check out our dedicated <a href="/news">news</a> section. Updates will come sporadically, but they'll be worth your while. We also now support <a href="/news/rss">RSS feeds</a> of these updates so you can check in for anything new from us at any time without going onto the site.
				</p>
				
				<li>
					<img src="/static/groupchats.png" style="display: inline-block"/>
					<p class="getstarted-col-text whatsnext-groupchats">
						Start a persistent group chat and have real-time conversations with the people you're close to.
					</p>
				</li>
				<p id="whatsnext-groupchats-desc">
					Our new <a href="/groupchats">group chats</a> feature allows you to start a persistent and private group chat with your friends and whoever else. Just invite them and you're ready to start chatting away. You can also make existing members administrators so they can manage who gets to go in the group chat and be able to change the roles of other members. At the moment, only our MSN frontend natively supports group chats, starting with WLM 2009, but we plan to extend support to other frontends when we can.
				</p>
			</ul>
			<div class="get-started-text whatsnext-text">
				<p id="get-started-conclusion-p">
					Most importantly, remember to <strong>have fun!</strong>
				</p>
			</div>
		</div>
		<div class="group section">
			<div class="col span4-4 separator content-end spin180"></div>
		</div>
	</div>
	
	<style>
		.get-started-text {
			text-align: center;
		}
		
		.basics-text {
			padding-left: 1em;
			padding-right: 1em;
		}

		#get-started-conclusion-p {
			position: relative;
			padding-top: 50px;
		}
	</style>
{%- endblock -%}
