{%- extends 'base.html' -%}

{%- block meta -%}
	<meta name="description" content="Escargot is an open-source project with the goal of supporting various chat platforms, old and new, while allowing them to communicate with each other seamlessly." />
{%- endblock -%}

{%- block head_end -%}
	<link rel="stylesheet" href="/static/style/index.css"/>
{%- endblock -%}

{%- block content -%}
	<div class="group section content">
		<div class="group section">
			<div class="col span4-4 separator">
			</div>
		</div>
		{%- if from_mg -%}
			<div class="no-errors" style="text-align: center">
				Came from MessengerGeek? Check out our own <a href="https://forum.nina.bz/forum-12.html" target="_blank">forum board</a> and <a href="https://discord.gg/gK2ewrt" target="_blank">Discord server</a> for technical support or to simply be a part of our active community.
			</div>
		{%- endif -%}
		<div class="group section content-section section1">
			<div class="section1-col1">
				<div class="section1-text">
					<p id="s1-h">
						<strong>One core. Many platforms.</strong>
					</p>
					
					<p id="s1-p">
						Escargot is a custom chat server that implements as many chat platforms, or frontends, as possible and connects them to one running backend, allowing you to use your account and settings on many of these frontends and talk to people on other frontends almost seamlessly. All it takes is one account.
					</p>
					
					<div class="section1-links">
						<a class="getstarted-btn" href="/get-started">
							<strong id="getstarted-txt">See How to Get Started</strong>
						</a>
					</div>
				</div>
				<img src="/static/escargot-showcase.png" id="s1-img" />
			</div>
		</div>
		<div class="group section">
			<div class="col span4-4 separator content-end spin180"></div>
		</div>
	</div>
	
	<div class="group section content">
		<div class="group section">
			<div class="col span4-4 separator">
			</div>
		</div>
		<div class="group section content-section section2">
			<div class="col span3-4">
				<div class="section-content">
					<p id="s2-h" class="section-title">
						"Exactly what in the world is this thing?"
					</p>
					
					<p id="s2-p">
						Originally starting life as a replacement MSN Messenger server, Escargot is now an open-source chat server aiming to support as many chat protocols and systems as possible and implement them as frontends. As frontends, these chat protocols and systems will then be able to globally integrate accounts in our system and allow messages to be sent and received from other frontends. A list of supported and planned frontends are available <a href="/frontends">here</a>.
						<br/><br/>
						While a work-in-progress and experimental, Escargot is perfectly usable in most cases and is even preferred to from mainstream messaging services by some of our users. Creating an account is easy and only takes a couple minutes, and then you have access to our federated chat-o-sphere! The <a href="https://gitlab.com/escargot-chat/server" target="_blank">server</a>, <a href="https://gitlab.com/escargot-chat/site" target="_blank">this site</a>, and the <a href="https://gitlab.com/escargot-chat" target="_blank">components</a> used to patch clients to connect to our services are also available under their own GitLab repositories. Like we said before, Escargot is open source. ;)
					</p>
				</div> 
			</div>
			
			<div class="col span1-4">
				<img src="/static/s2icon.png"  class="s-img" id="s2-img" width="275px" />
			</div>
		</div>
		
		<div class="group section content-section section3">
			<div class="col span1-4">
				<div class="circle">
					<img src="/static/s3icon.png" id="s3-img" width="235px" />
				</div>
			</div>
			
			<div class="col span3-4">
				<div class="section-content">
					<p id="s3-h" class="section-title">
						"But why?"
					</p>
					
					<p id="s3-p">
						<strong>Why not?</strong> Escargot's global account integration allow you to use your favourite clients on our frontends with just one account, and since the core ties the frontends together and standardizes the way they can talk to each other, you can finally talk to your friends on a messaging platform different from your preferred ones without having to accommodate. Not only that, but your account's settings will integrate seamlessly, so remotely stored personal settings like display pictures, persistent status messages, and contact list settings will be retained on most frontends.
					</p>
				</div> 
			</div>
		</div>
		
		<div class="group section content-section section4">
			<div class="col span3-4">
				<div class="section-content">
					<p id="s4-h" class="section-title">
						"But how?"
					</p>
					
					<p id="s4-p">
						<strong>Escargot</strong> is written in Python, and by design, it's an extensible chat framework that utilizes any frontends that you add to it. In the case of emulating existing chat protocols, we can't restore everything back to the way their original implementations were. And regardless, there can be bugs in usability or messaging on any of the frontends. We might also not support a frontend you really want, be it a protocol/the client(s) supporting said protocol or a feature you're really looking forward to, but eventually we might support it.
						<br/><br/>
						You can either keep an eye out on the site for when a new frontend goes live or go to the server's repository on <a href="https://gitlab.com/escargot-chat/server" target="_blank">GitLab</a> and read our contribution guide to get started on supporting protocols and frontends not currently available. We have a <a href="https://gitlab.com/escargot-chat/server/-/wikis/home" target="_blank">wiki</a> where we put any information about Escargot and its frontends on, and we also have a detailed <a href="https://gitlab.com/escargot-chat/server/-/wikis/wishlist" target="_blank">wishlist</a> with things we're actively searching for to complement or improve Escargot with.
						<br/><br/>
						We've had several people on our GitLab team and elsewhere <a href="/thanks">help us</a> with the project when things got rough, regardless of whether they touched the code or not. Without them, Escargot wouldn't be as powerful as it is today.
					</p>
				</div>
			</div>
			
			<div class="col span1-4">
				<img src="/static/s4icon.png" class="s-img" id="s4-img" width="275px" />
			</div>
		</div>
		<div class="group section">
			<div class="col span4-4 separator content-end spin180"></div>
		</div>
	</div>
	
	<div class="group section content">
		<div class="group section">
			<div class="col span4-4 separator">
			</div>
		</div>
		<div class="group section content-section section-default">
			<div class="col span3-4 section5-links">
				<h1 id="s5-h1" align="center">"What now?"</h1>
				
				<div class="section-content" align="center">
					<p id="s5-p">
						Our <a href="/get-started">Get Started</a> page covers everything you need to do to settle in Escargot Land.
					</p>
					<img src="/static/getstarted-smiley.png" width="295"/>
				</div>
			</div>
		</div>
		<div class="group section">
			<div class="col span4-4 separator content-end spin180"></div>
		</div>
	</div>
{%- endblock -%}