{%- extends 'base.html' -%}

{%- block content -%}
	<div class="group section content">
		<div class="group section">
			<div class="col span4-4 separator">
			</div>
		</div>
		<div class="group section section-default">
			<div class="error-text" style="text-align: center">
				<div class="error-hdr" style="padding-bottom: 20px" align="center">
					<h1 class="section-caption" id="error-h1">Action could not be performed</h1>
				</div>
				<p>
					The action you tried to perform has failed. This could be because it relies on the main server, and that it might be down.
				</p>
			</div>
		</div>
		<div class="group section">
			<div class="col span4-4 separator content-end spin180"></div>
		</div>
	</div>
{%- endblock -%}