{%- extends 'base.html' -%}

{%- from '_funcs.html' import err, section -%}

{%- block content -%}
	<div class="group section content">
		<div class="group section">
			<div class="col span4-4 separator">
			</div>
		</div>
		<div class="group section section-default">
			<div class="register-text" style="text-align: center">
				<div class="register-header">
					<img src="/static/emots/emot-smile.gif" width="30" />
					<h2 class="section-caption">Registration</h2>
				</div>
				<p>
					Register your Escargot account.
					<br/><br/>
					<a id="goto-downloads" class="goto" href="/connecting">(Already have one?)</a>
				</p>
				
				<div class="form-cont" align="left">
					{% if errors %}
						<div class="errors-warn">
							<p id="errors">Account not created. See errors below.</p>
						</div>
					{% endif %}
						
					<form class="sign-up-form" id="sign-up-form" role="form" method="post">
						<ul>
							<li>
								<h2>Step 1</h2>
								Specify an e-mail address, username, and password
							</li>
							<br/><br/>
							<label for="email">E-mail address:</label>
							<br/>
							<input class="field" type="email" name="email" id="email" placeholder="your@email.com"{% if email != None %} value="{{ email }}"{% endif %} required/>
							<label for="email">{{ err(errors, 'email') }}</label>
							<br/><br/>
							<label for="username">Username (4-32 characters):</label>
							<br/>
							<input class="field" type="input" name="username" id="username" placeholder="Letters, numbers, underscores, and one period are allowed"{% if username != None %} value="{{ username }}"{% endif %} required pattern="[A-Za-z0-9_\.]{4,32}"/>
							<label for="username">{{ err(errors, 'username') }}</label>
							<br/><br/>
							<label for="password1">Password (6+ characters):</label>
							<br/>
							<input class="field" type="password" name="password1" id="password1" required pattern=".{6,}"/>
							<label for="password1">{{ err(errors, 'password1') }}</label>
							<br/><br/>
							<label for="password2">Password (again):</label>
							<br/>
							<input class="field" type="password" name="password2" id="password2" required pattern=".{6,}"/>
							<label for="password2">{{ err(errors, 'password2') }}</label>
							
							<li>
								<h2>Step 2 (Optional)</h2>
								Select options for accessing insecure frontends. These options allow for certain frontends that use insecure hashing algorithms to log in, and can carry the risk of having your password vulnerable to collision attacks if retreived.
							</li>
							<br/><br/>
							<input type="checkbox" name="support_oldmsn" value="true" id="support_oldmsn" {% if support_oldmsn %}checked{% endif %}>
							<label for="support_oldmsn" id="support_oldmsn-text" class="support_old">Old MSN support (required to log in to MSN 1/2/3/4; utilizes salted MD5).</label>
							<br/>
							<input type="checkbox" name="support_yahoo" value="true" id="support_yahoo" {% if support_yahoo %}checked{% endif %}>
							<label for="support_yahoo" id="support_yahoo-text" class="support_old">Yahoo! Messenger support (required to log in to Yahoo! Messenger 5; utilizes MD5 and MD5Crypt).</label>
							
							<li>
								<h2>Step 3</h2>
								Create your account!
							</li>
							<br/><br/><br/>
							<button id="mkacc-button" type="submit" class="btn" style="margin-left: 41%; height: auto; padding-top: 0.5em; padding-bottom: 0.5em">
								Create Account
							</button>
						</ul>
					</form>
				</div>
			</div>
		</div>
		<div class="group section">
			<div class="col span4-4 separator content-end spin180"></div>
		</div>
	</div>
	<p id="c-email-h">{{ created_email }}</p>
	<style>
		#c-email-h {
			display: none;
		}
	</style>
{%- endblock -%}
