{%- extends 'base.html' -%}

{%- from '_funcs.html' import section -%}

{%- block content -%}
	<div class="group section content">
		<div class="group section">
			<div class="col span4-4 separator"></div>
		</div>
		{%- call section("Service Status", id = 'status') -%}
			<div id="status-detail">
				<h3 id="status-preface">Updated every 2 minutes</h3>
				
				{%- if server_status -%}
					{%- if server_status['status'] == 'ok' -%}
						<h1 id="status-online" class="status-text online">ONLINE</h1>
						<p id="online-desc">Escargot's main server is functioning under normal conditions, and responds to requests in a timely fashion.<sup>1</sup></p>
					{%- elif server_status['status'] == 'slow' -%}
						<h1 id="status-slow" class="status-text slow">CONGESTED</h1>
						<p id="slow-desc">Escargot's main server is functioning, but does not respond to requests in a timely manner.<sup>1</sup></p>
					{%- else -%}
						<h1 id="status-offline" class="status-text offline">OFFLINE</h1>
						<p id="offline-desc">Escargot's main server is down and cannot accept requests at this time.</p>
					{%- endif -%}
					Last updated: <em>{{ server_status['last_updated'].strftime('%B %d, %Y at %H:%M:%S UTC') }}</em>
				{%- else -%}
					<p id="status-not-loaded">Server status hasn't been loaded yet.</p>
				{%- endif -%}
			</div>
			
			<div id="footnotes">
				<small>
					<p id="footnote-1">
						<sup>1</sup> Accepted normal server response times are 10 seconds or less
					</p>
					<p id="footnote-technical-1">
						* Connectivity is determined from port 1863 on the main server
					</p>
				</small>
			</div>
		{%- endcall -%}
		<div class="group section">
			<div class="col span4-4 separator content-end spin180"></div>
		</div>
	</div>
	
	<style>
		#status-detail {
			text-align: center;
		}
		
		#footnotes {
			padding-top: 3em;
			padding-left: 1em;
		}
		
		.status-text {
			font-size: 48px;
		}
		
		.online {
			color: green;
		}
		
		.slow {
			color: #daa100;
		}
		
		.offline {
			color: red;
		}
	</style>
{%- endblock -%}