{%- extends 'base.html' -%}

{%- block meta -%}
	<meta name="description" content="Statistics for Escargot service usage. Refreshes every 5 minutes." />
{%- endblock -%}

{%- from '_funcs.html' import section -%}

{%- block content -%}
	<div class="group section content">
		<div class="group section">
			<div class="col span4-4 separator">
			</div>
		</div>
		{%- call section("Stats", "stats") -%}
			<div class="stats-cont" style="padding-left: 1em">
				<p id="st-refresh" class="muted">
					Stats refresh every 5 minutes.
				</p>
				

				{% if stats %}
					<span class="bold">{{ stats['logged_in'] }}</span> <span id="st-online">users currently online.</span>

					{% for hour_formatted, hour_stats in stats['by_hour'] %}
						<h4>{{ hour_formatted }}</h4>
						
						<table style="width: 40em">
							<colgroup>
								<col style="width: 40%"/>
								<col style="width: 20%"/>
								<col style="width: 20%"/>
								<col style="width: 20%"/>
							</colgroup>
							<thead>
								<tr>
									<th rowspan="2" id="st-ver">Program/Version</th>
									<th rowspan="2" class="txt--center" id="st-active">Active Users</th>
									<th colspan="2" class="txt--center" id="st-msgs">Messages</th>
								</tr>
								<tr>
									<th class="txt--center" id="st-sent">Sent</th>
									<th class="txt--center" id="st-received">Received</th>
								</tr>
							</thead>
							<tbody>
								{% for client_stats in hour_stats %}
									{% if client_stats['client_formatted'] %}
										<tr>
											<td>{{ client_stats['client_formatted'][:30] }}</td>
											<td class="txt--right">{{ client_stats['users_active'] }}</td>
											<td class="txt--right">{{ client_stats['messages_sent'] }}</td>
											<td class="txt--right">{{ client_stats['messages_received'] }}</td>
										</tr>
									{% endif %}
								{% endfor %}
							</tbody>
						</table>
					{% endfor %}
				{% else %}
					No stats available.
				{% endif %}
			</div>
		{%- endcall -%}
		<div class="group section">
			<div class="col span4-4 separator content-end spin180"></div>
		</div>
	</div>
	
	<style type="text/css">
		@media only screen and (max-width: 830px) {
			table {
				width: 100% !important;
			}
		}
	</style>
{%- endblock -%}
