{%- extends 'base.html' -%}

{%- from '_funcs.html' import download_url -%}

{%- block content -%}
	<div class="group section content">
		<div class="group section">
			<div class="col span4-4 separator">
			</div>
		</div>
		<div class="group section section-default">
			<div class="switcher-content" align="center" style="padding-left: 1em; padding-right; 1em">
				<div class="section-switcher-text">
					<h1 class="section-caption">Escargot Switcher</h1>
					<p id="switcher-p">
						Escargot Switcher is a DLL component we've developed for patching supported clients. Switcher dynamically controls any appropriate internet requests passed and re-routes them to our servers. Currently our patch only supports Windows XP and higher, but this could change in the future to support older Windows versions.
						<br/><br/>
						If you're patching a client by yourself, then we offer the base DLL and a configuration file you can modify for your targeted client. Note that when copying the configuration, make sure its file name is <code>&lt;module name&gt;-escargot.ini</code>, with <code>&lt;module name&gt;</code> representing the full name of the program you're patching, including extension (e.g., <code>msnmsgr.exe-escargot.ini</code>), and the <code>type</code> value is appropriately set so that the client's components will be able to load the Switcher component when patched.
						<br/><br/>
						Debug options are discussed in the <a href="/faq">FAQ</a>.
					</p>
				</div>
				<div class="switcher-dl" style="padding-top: 40px">
					<a class="switcher-dl-link" href="{{ download_url('escargot-switcher.zip', mirrored) }}">
						<h2>Download DLL + base configuration file (.ZIP)</h2>
					</a>
				</div>
			</div>
		</div>
		<div class="group section">
			<div class="col span4-4 separator content-end spin180"></div>
		</div>
	</div>
	
	<style>
		.switcher-dl-link {
			display: inline-block;
		}
	</style>
{%- endblock -%}