* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	margin: 0em;
	padding: 0em;
	position: relative;
}

.txt--center {
	text-align: center;
}

.txt--right {
	text-align: right;
}

.no-errors {
	padding: 0 2px;
	background-color: #b5db83;
	border: 2px solid #0A0;
	border-radius: 5px;
}

.error {
	margin-top: 15px;
	color: red;
}

.errors-warn {
	padding: 0 2px;
	background-color: #d89a86;
	border: 2px solid #D00;
	border-radius: 5px;
}

body {
	/*background-color: hsl(213.1, 40.7%, 46.3%);*/
	background-color: #3f568f;
	position: relative;
	z-index: 0;
}

body::before {
	content: "";
	position: absolute;
	width: 80%;
	height: 260px;
	/*background: radial-gradient(hsla(224, 41.4%, 15%, 0.3) 20%, hsla(224, 41.4%, 10%, 0) 70%);*/
	z-index: -1;
	top: -130px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
	/*border: 1px solid red;*/
}
.col:first-child { margin-left: 0; }

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
	/*border: 1px solid red;*/
}

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

.content-header {
	width: 100%;
	padding-bottom: 1em;
}

.content-header a, .footer a {
	color: white;
	text-decoration: none;
}

a { 
	text-decoration: none; 
}

.content-container {
	position: relative;
	margin: 0 auto;
	width: 85%;
	min-height: 100%;
	overflow: hidden;
}

.content-section {
	position: relative;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 5em;
	min-height: 100%;
	width: 100%;
	overflow: hidden;
}

.header-menu {
	padding: 80px 10px;
	color: white;
}

.header-menu a {
	line-height: 2px;
}

/*  GRID OF TWO  */
.span2-2 {
	width: 100%;
}
.span1-2 {
	width: 49.2%;
	margin-left: 0 !important;
}

/*  GRID OF THREE (for patch status) */
.span3-3 { width: 55%; margin-top: 0px; margin-bottom: 0px; color: white; padding-left: 2%; }
.span2-3 { width: 35%; margin-top: 0px; margin-bottom: 0px; }
.span1-3 { width: 10%; margin-top: 0px; margin-bottom: 0px; }

/*  GRID OF FOUR  */
.span4-4 {
	width: 100%;
}
.span3-4 {
	width: 74.6%;

}
.span2-4 {
	width: 75%;
}
.span1-4 {
	width: 23.8%;
}


/*  GRID OF FIVE  */
.span5-5 {
	width: 100%;
}
.span4-5 {
	width: 81.28%;
}
.span3-5 {
	width: 59.36%;
}
.span2-5 {
	width: 39.04%;
}
.span1-5 {
	width: 18.72%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span1-4, .span2-4, .span3-4, .span4-4 { width: 100%; }
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span1-5, .span2-5, .span3-5, .span4-5, .span5-5 { width: 100%; }
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span2-2, .span1-2 { width: 100%; }
}

@media screen and (max-width: 1090px) {
	.section-green 				{ height: 100% !important }
	.content { width: 100% !important; padding-left: 0 !important }
}

@media screen and (max-width: 830px) {
	.content-container			{ width: 100% !important }
}

@media screen and (max-width: 480px) {
	.header-menu				{ padding-top: 10px !important; line-height: 30px }
	.col						{ margin-left: 0 !important }
	.measure					{ margin: 0 !important }
}

.content {
	position: relative;
	top: -50px;
	padding-bottom: 90px;
}

.content-end {
	margin-bottom: -20px;
}

.separator {
	margin-top: 0;
	margin-bottom: 0;

	width: 100%;
	height: 17px;
	background: linear-gradient(to bottom, #2968a6, #265598);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.separator-purple {
	margin-top: 0;
	margin-bottom: 0;

	width: 100%;
	height: 17px;
	background: linear-gradient(to bottom, #a30af8, #7004ac);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.separator-orange {
	margin-top: 0;
	margin-bottom: 0;

	width: 100%;
	height: 17px;
	background: linear-gradient(to bottom, #ff9d46, #ff7800);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.section-default {
	height: 100%;
	background: linear-gradient(to bottom, #71a2ef, #4a88ec);
	background-size: 100% 100%;
	overflow: hidden;
	padding-bottom: 10px;
}

.spin180 {
	transform: rotate(180deg);
}

.section-caption {
	display: inline-block;
}

.nav {
	height: 100%;
	background: linear-gradient(to bottom, #4d5fbf, #26399c);
}

.footer {
	position: relative;
	top: -30px;
	width: 90%;
}

.footer-menu {
	color: white;
}

.footer-menu a {
	color: white;
}

#ftr-txt {
	color: #b6c2d5;
	font-size: 10px;
}

#Spriteclad-link {
	color: #edb07a;
	text-decoration: underline;
}

#Maigol-link {
	color: #25ba84;
	text-decoration: underline;
}

#phas3r-link {
	color: #1b79d5;
	text-decoration: underline;
}

#yuka-link {
	color: #424640;
	text-decoration: underline;
}

.stylized-code {
	font-family: monospace;
	background-color: #cccccc;
	border: solid 2px;
	border-color: #bababa;
	border-radius: 2px;
}

.field-label {
	position: relative;
	text-align: left;
	padding-right: 1em;
}

.field {
	position: relative;
	width: 55%;
	font-size: 20px;
	height: 30px;
}

.support_old {
	display: inline;
}

.msg-container {
	position: relative;
	padding-bottom: 1em;
}

.no-errors {
	padding: 0 2px;
	background-color: #b5db83;
	border: 2px solid #0A0;
	border-radius: 5px;
	text-align: center;
}

.error {
	margin-top: 15px;
	color: red;
}

.errors-warn {
	padding: 0 2px;
	background-color: #d89a86;
	border: 2px solid #D00;
	border-radius: 5px;
}

#errors {
	margin: 0;
	text-align: center;
}

.btn {
	position: relative;
	font-size: 26px;
	height: 45px;
	color: #ffffff;
	background-image: url("/static/btn.gif");
	background-size: 100% 100%;
	border: none;
}

.btn:disabled {
	background-image: url("/static/btn-disabled.gif");
	color: #cccccc
}

.goto {
	font-size: 10px;
}

.msg {
	position: relative;
	border-style: solid;
	border-width: 5px;
	text-align: center;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-left: 40%;
}

.msg-error {
	border-color: #ff0000;
}

.msg-notif {
	border-color: #00ca00;
}

/* get started/account created */
.getstarted-cols {
	position: relative;
	margin-left: 15px;
	top: 20px;
}

.getstarted-cols li img {
	position: relative;
	vertical-align: middle;
	margin-left: 10px;
}

.getstarted-cols p {
	display: inline-block;
	position: relative;
	margin-left: 35px;
	margin-right: 10%;
}

.getstarted-col-text {
	font-weight: bold;
}