.xtra-button {
	width: 100%;
	height: 100%;
	background-color: #e7fbfe;
	border: 1px solid #889caa;
	border-radius: 2px;
	color: #1f5fae;
	font-size: 14px;
	vertical-align: middle;
	box-shadow: 1px 1px 2px;
}
.xtra-button img {
	position: relative;
	margin-top: 15%;
}
.xtra-button p {
	margin-top: 0;
	font-size: 10px;
}

#section-downloads-msn {
	background: linear-gradient(to bottom, #4aaae4, #2a83b8);
}

#section-downloads-yahoo {
	background: linear-gradient(to bottom, #38035d, #9e58c4);
}

.section-downloads-client a {
	color: #33d000;
	text-decoration: underline;
}

.header-downloads {
	position: relative;
	padding-bottom: 2em;
	padding-top: 1em;
}

.section-downloads-text {
	position: relative;
	text-align: center;
}

.clients {
	padding-bottom: 3em;
}

.downloads {
	position: relative;
	padding-top: 20px;
	padding-left: 18px;
}

.download-by-lang {
	position: relative;
	display: inline-block;
	padding-right: 30px;
	padding-left: 30px;
	vertical-align: top;
}

.download-lang {
	position: relative;
	text-align: center;
}

.download-lang h3 {
	display: inline-block;
}

.download-name {
	position: relative;
	display: inline-block;
}

.download-reco {
	position: relative;
	display: inline-block;
	color: #008200;
	font-weight: bold;
	margin-left: 10px;
}

.download-options ul {
	position: relative;
	top: -15px;
}

.download-xtra {
	position: relative;
	padding-bottom: 1em;
	width: 80%;
}

.download-xtra .text {
	display: inline-block;
	vertical-align: top;
}

.download-xtra .author {
	position: relative;
	padding-top: 20px;
	font-size: 12.5px;
	font-style: italic;
}

.download-xtra img {
	position: relative;
	margin-top: 1.5em;
}

.client-lang {
	position: relative;
	padding-bottom: 1em;
}