.get-started {
	height: 100%;
	background: linear-gradient(to bottom, #c3f9d2, #caffbf);
	background-size: 100% 100%;
	overflow: hidden;
	padding-bottom: 10px;
}

.get-started-text {
	text-align: center;
	margin-left: 25%;
}

#get-started-conclusion-p {
	position: relative;
	padding-top: 50px;
}
